<% if @cart_line_items.empty?%>
<p> your cart is empty continue shopping <%=link_to "here", products_path%></p>
<%else%>
<table  border="1">
    <thead>
    <tr>
    <th>
    <th>product</th>
    <th>price</th>
    <th>Quantity</th>
    <th>Total</th>
    </tr>
    </thead>

    <tbody>
        <% sum = 0 %>
        <% @cart_line_items.each_with_index do |cart_line_item,index|%>
        <tr>
            <td><%=index + 1%></td>
            <td> <%= cart_line_item.product.name%> </td>
            <td><%=cart_line_item.product.price%></td>
            <td>    
                    <%=form_for cart_line_item do |f| %>
                    <%= f.select :quantity,[1,2,3,4,5] %>
                    <%=f.submit "Update Quantity"%>
                    <%end%>
            </td>
            <% total =cart_line_item.product.price * cart_line_item.quantity %>
            <td><%= total %>
            <% sum += total %>
            </td>
            <td>
                <%= link_to "remove",cart_line_item_path(cart_line_item.id),
                data:{turbo_method: :delete, turbo_confirm: "are you sure"} %>
            </td>
        </tr>
        <%end%>
    </tbody>

</table>
<b>Total : <%=sum %></b>


<%=form_for @order do |f|%>
<h4>Select Address</h4>
<% current_user.addresses.each do |address|%>
<%=f.radio_button :address, address.id%><%=address.full_address%></br>
<%end%>
<%=f.submit "checkout"%>
<%end%>
<% end %>

