<h2>ADD CATEGORY</h2>


<% @category.errors.full_messages %>
<%= form_for @category do |f| %>
  <% if @category.errors.any?%>
    <ul>
      <% @category.errors.full_messages.each  do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
  </ul>
<%end%>


<%=f.label :name %> <br/>
<%= f.text_field :name %> <br/>
<%= f.submit%>
<% end %>