<h2> <%= @category.name %> </h2>
<% @category.sub_categories.each do |sub_category|%>
  <h3><%= sub_category.name.upcase%><h3>
    <ul>
        <% sub_category.products.each do |product|%>
            <li>
                <%= link_to product.name ,product_path(product.id)%>
            </li>
        <%end%>
    </ul>
<%end%>
<%= link_to "Back", categories_path %> <%= link_to "edit",edit_category_path(@category.id)%> | 
<%= link_to 'delete', category_path(@category.id), data: {turbo_method: :delete, turbo_confirm: 'are you sure'} %>



